<%include ./partials/header%>

<div class="container">
	<div class="jumbotron">
	<div id="content">
	<%if (!user) {%>
			<h1 class="display-4">Song Scrape</h1>
	  		<p class="lead">Tired of looking for new songs? We've got you covered.</p>
	  		<p>Just log in with your Spotify account, and we'll search reddit's r/listentothis for on the rise/overlooked that songs you might like based on your favorite genres and put them together in a playlist.</p>
	  		<a class="btn btn-success" href="/auth/spotify" role="button">Log in with Spotify</a>

	<%} else {%>

		<h1 class="display-4">You're all set!</h1>
		<form action="/" method="POST">
			<button id="create-playlist-btn" class="btn btn-success">Create Playlist</button>
		</form>
	</div>
	</div>
</div>
	
<%}%>
<%include ./partials/footer%>