<%include ../partials/header%>

<div class="playlist-container">
	<div class="jumbotron">
	<div id="playlist-show">

		<h1>Enjoy your playlist!</h1>

		<%- embedHTML %>

	</div>
	</div>
</div>
<%include ../partials/footer%>